body {
    min-width: 20rem;
    min-height: 17rem;
}

.darkcheck{
    position: absolute;
    margin: 7px;
    right: 0px;
}

.enable {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 10px;
    margin-left: 20px;
}